<body>
  <section class="documentsections" id="portfolio">
    <div class="row small-up-1 large-up-3 medium-up-2">
      <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/1.png" alt=""><figcaption>AUBETTE 1928</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/2.png" alt=""><figcaption>CABINET DES ESTAMPES &amp; DES DESSINS</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/3.png" alt=""><figcaption>MUSÉE ALSACIEN</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/4.png" alt=""><figcaption>MUSÉE ARCHÉOLOGIQUE</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/5.png" alt=""><figcaption>MUSÉE DES ARTS DÉCORATIFS</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/6.png" alt=""><figcaption>MUSÉE D’ART MODERNE &amp; CONTEMPORAIN</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/7.png" alt=""><figcaption>MUSÉE DES BEAUX-ARTS</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/8.png" alt=""><figcaption>MUSÉE HISTORIQUE</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/9.png" alt=""><figcaption>MUSÉE DE L’OEUVRE-NOTRE-DAME</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/10.png" alt=""><figcaption>MUSÉE TOMI UNGERER</figcaption></a></figure>
       <figure class="column"><a href="#"><p class="hover"></p><img src="../assets/img/11.png" alt=""><figcaption>MUSÉE ZOOLOGIQUE</figcaption></a></figure
    </div>
  </section>
</body>
