<body>
  <section class="documentsections" id="portfolio">
    <div class="row small-up-1 large-up-3 medium-up-2">
      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>AUBETTE 1928</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>CABINET DES ESTAMPES &amp; DES DESSINS</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE ALSACIEN</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE ARCHÉOLOGIQUE</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE DES ARTS DÉCORATIFS</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE D’ART MODERNE &amp; CONTEMPORAIN</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE DES BEAUX-ARTS</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE HISTORIQUE</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE DE L’OEUVRE-NOTRE-DAME</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE TOMI UNGERER</figcaption></a></figure>
 -      <figure class="column"><a href="#"><p class="hover"></p><img src="http://placehold.it/410x230"><figcaption>MUSÉE ZOOLOGIQUE</figcaption></a></figure>
    </div>
  </section>
</body>
