<footer>
<div class="row">

  <p class="small-12 medium-6 large-4 columns">INSCRIVEZ-VOUS À LA NEWSLETTER DES MUSÉES!</p>
  <form class="small-12 medium-6 large-4 columns" action="index.html" method="post">
    <input type="text" name="email" placeholder="E-MAIL"  >
  </form>
  <div class="small-12 medium-12 large-4 columns">
    <a href="#">PUBLICATIONS DES MUSÉES</a>
    <a href="#">ESPACE PRESSE</a>
  </div>
</div>
  <div class="row">
        <ul class="menu">
          <li><a href="#">ACCUEIL</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">PLAN DU SITE</a></li>
          <li><a href="#">MENTION LÉGALES</a></li>
        </ul>
  </div>
 </footer>
